<div class="container-lg hight_modal">

    <div class="row">
        <div class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">
            Thêm mới chiến dịch</div>

    </div>
    <div class="row">
        <div class="col-lg-5">
            <!-- <input type="text" [readonly]="lockOrOpen" class="form-control" formControlName="userName">
                     -->
            <table style="width:100%">
                <tr>
                    <td>
                        <label for="exampleFormControlInput1" class="form-label">Nhóm chiến dịch</label>
                        <select [(ngModel)]="selectedValueGroupId" class="form-control">
                            <option *ngFor="let item of CampaignGroup" [value]='item.Id'>
                                {{item.Name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="exampleFormControlInput1" class="form-label">Tên chiến dịch</label>
                        <textarea style="height: 100px;" [(ngModel)]="Name" type="text" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="exampleFormControlInput1" class="form-label">Chi tiết</label>
                        <textarea style="height: 100px;" type="text" [(ngModel)]="Description" class="form-control">
                                </textarea>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-lg-7">
            <label for="exampleFormControlInput1" class="form-label">Tiêu chí đánh giá</label>

        <table style="width:100%;" *ngFor="let item of CampaignKpi">
            <tr>
                <td>
                    <input type="checkbox" [(ngModel)]="item.Check" >
                    <label>{{item.Code}} &nbsp; {{item.Name}}</label>
                </td>
            </tr>
        </table>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">Thời gian diễn ra</label>
        </div>

        <div class="col-lg-5">

            <table style="width:100%">
                <tr>
                    <td>
                        <input type="date" [(ngModel)]="DayBegin" displayFormat="DD/MM/YYYY" min="2015-01-01" max="2025-12-31" class="form-control">

                    </td>
                    <td></td>
                    <td>
                        <input type="date" [(ngModel)]="DayEnd" displayFormat="DD/MM/YYYY" min="2015-01-01" max="2025-12-31" class="form-control">

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <label style="padding-top: 5px;" for="exampleFormControlInput1" class="form-label">SMS &nbsp;</label>
            <input style="padding-top: 5px;vertical-align: middle;" type="checkbox" [(ngModel)]="Act_SMS">
            <input type="text" *ngIf="Act_SMS == true" [(ngModel)]="Act_SMS_Content" class="form-control">
            <input type="text" readonly="true" *ngIf="Act_SMS == false" [(ngModel)]="Act_SMS_Content" class="form-control">

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <label style="padding-top: 5px;" for="exampleFormControlInput1" class="form-label">Zalo &nbsp;</label>
            <input type="checkbox" [(ngModel)]="Act_Zalo">
            <input type="text" *ngIf="Act_Zalo == true" [(ngModel)]="Act_Zalo_Content" class="form-control">
            <input type="text" *ngIf="Act_Zalo == false" readonly="true" [(ngModel)]="Act_Zalo_Content" class="form-control">

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <label style="padding-top: 5px;" for="exampleFormControlInput1" class="form-label">Facebook &nbsp;</label>
            <input type="checkbox" [(ngModel)]="Act_FB">
            <input type="text" *ngIf="Act_FB == true" [(ngModel)]="Act_FB_Content" class="form-control">
            <input type="text" *ngIf="Act_FB == false" readonly = "true"  [(ngModel)]="Act_FB_Content" class="form-control">

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <label style="padding-top: 5px;" for="exampleFormControlInput1" class="form-label">CallOut &nbsp;</label>
            <input type="checkbox" [(ngModel)]="Act_CallOut">
            <input type="text" *ngIf="Act_CallOut == true"  [(ngModel)]="Act_CallOut_Content" class="form-control">
            <input type="text" *ngIf="Act_CallOut == false" readonly="true"  [(ngModel)]="Act_CallOut_Content" class="form-control">

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <label style="padding-top: 5px;" for="exampleFormControlInput1" class="form-label">AI CallCenter &nbsp;</label>
            <input type="checkbox" [(ngModel)]="Act_AICallcenter">
            <input type="text" *ngIf="Act_AICallcenter == true" [(ngModel)]="Act_AICallcenter_Content" class="form-control">
            <input type="text" readonly="true" *ngIf="Act_AICallcenter == false" [(ngModel)]="Act_AICallcenter_Content" class="form-control">

        </div>

    </div>

    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-primary" (click)="SaveData()">Ghi nhận</button>
        <button type="button" class="btn btn-danger" style="margin-left: 10px;" mat-button mat-dialog-close>Hủy
            bỏ</button>
    </div>

</div>