<div style="position: absolute; top: 40%; left: 40%;">
  <!-- <mat-spinner></mat-spinner> -->
</div>
<div style="background-color: white; padding: 5px 5px;  border: 1px solid rgba(0,0,0,.125);">

  <div class="row" style="height: 35px;">
    <div class="row">
      <h2 class="col-sm-6" style="font-weight: 500; padding-top: 5px;">Chiến dịch CSKH</h2>
      <div class="mb-3 col-sm-6" style="text-align: right; padding-top: 5px;">
        <div (click)="openCreate()" style="padding: 5px; padding-right: 8px!important;
        border: solid 1px #4e44bf;
        width: 135px;
        float: right;
        border-radius: 35px;">
          <mat-icon style="vertical-align: middle;
          color: blue;
          margin-top: -1px;" title="Tạo chiến dịch">
            add_circle_outline</mat-icon>
          Tạo chiến dịch
        </div>
      </div>
    </div>

  </div>


  <div class="row" style="margin-top: 0px!important;">
    <!-- <div *ngIf="isLoading">
          </div> -->
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="width: 10px!important;">
              <mat-icon style="padding-top: 7px;" title="Trạng thái chiến dịch">list</mat-icon>
            </th>
            <th>Tên chiến dịch</th>
            <th style="width:90px!important;text-align: center;">Từ ngày</th>
            <th style="width:90px!important;text-align: center;">Đến ngày</th>
            <th style="width:45px!important;text-align: center;">SMS</th>
            <th style="width:45px!important;text-align: center;">Zalo</th>
            <th style="width:45px!important;text-align: center;">FB</th>
            <th style="width:45px!important;text-align: center;">3C</th>
            <th style="width:45px!important;text-align: center;">AICall</th>

          </tr>
        </thead>
        <tbody style="border-top: none; width: 99%;">
          <tr *ngIf="loadding">
            <td colspan="5">
              <app-loading [isLoading]="loadding"></app-loading>
            </td>
          </tr>
          <tr *ngFor="let item of CampaignSearch; index as i" class="align-middle">
            <td style="width:15px;">
              <mat-icon (click)="openUpdate(item.Id)" *ngIf="item.Step == 0" style="height: 19px; font-size: 22px; color: blue;"
                title="Sửa thông tin">edit</mat-icon>
              <mat-icon (click) = "goToCampaingCustomerPage(item.Id)" *ngIf="item.Step == 1" style = "height: 19px; font-size: 21px;"  title="Đang hoạt động">play_circle_outline</mat-icon>
              <mat-icon *ngIf="item.Step == 2" style = "height: 19px; font-size: 22px;" title="Đã kết thúc">done</mat-icon>
              <mat-icon *ngIf="item.Step == 3" style = "height: 19px; font-size: 21px; color: red;" title="Đã hủy">highlight_off</mat-icon>
            </td>
            <td>{{item.Name}}</td>
            <td>{{item.DayBegin}}</td>
            <td>{{item.DayEnd}}</td>
            <td style="text-align: center;"><input onclick="return false" type="checkbox" [(ngModel)]="item.Act_SMS">
            </td>
            <td style="text-align: center;"><input onclick="return false" type="checkbox" [(ngModel)]="item.Act_Zalo">
            </td>
            <td style="text-align: center;"><input onclick="return false" type="checkbox" [(ngModel)]="item.Act_FB">
            </td>
            <td style="text-align: center;"><input onclick="return false" type="checkbox"
                [(ngModel)]="item.Act_CallOut"></td>
            <td style="text-align: center;"><input onclick="return false" type="checkbox"
                [(ngModel)]="item.Act_AICallcenter"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div>
    <app-pagination [Pagination]="Pagination" (changePage)="onChangePage($event)"></app-pagination>
  </div>

</div>