<h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content class="mat-typography">
  fds
</mat-dialog-content>
<mat-dialog-actions align="start">
  <!-- <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->

  <button type="button" class="btn btn-info" mat-button
  mat-dialog-close>&nbsp;&nbsp;&nbsp;&nbsp;Đóng&nbsp;&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;
<button type="button" cdkFocusInitial class="btn btn-primary">Ghi nhận</button>

</mat-dialog-actions>
